

<div class="card">
    <div class="card-body">
      <center><h5 style="height:10px;" class="card-title">Haftanın tweeti</h5> </center>  
        
    </div>
    <img src="~/miniblog/images/r2.jpg" class="card-img-bottom" alt="twitter">
</div> <br /><br />
<div class="card">
    <div class="card-body" >
        <center><h5 class="card-title">Haftanın ezgisi</h5> </center>

    </div>
    <iframe  style="height:250px;" src="https://www.youtube.com/embed/c0oIzHRDO7c?si=ixIm4ckXiv0fPMvS" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
</div>
